.full-vh{
    height: 100vh;
}

.main-form{
    margin-top: 20vh;
    
    padding: 30px 60px;
    background: rgba(0,0,0,0.7);
    border-radius: 2px;
    
}

.t-a-l{
    text-align: left;
}

.main-form .hero-subtitle{
    line-height: 2;
    font-size: x-large;
    margin-top: 0px;
}

.hero-wrap .hero-img{
    
/*
   background:  linear-gradient(rgba(41, 46, 49, 0.34),rgba(243, 107, 33, 0.48)),url(https://images.pexels.com/photos/7070/space-desk-workspace-coworking.jpg?w=940&h=650&auto=compress&cs=tinysrgb);
    
    background-size: cover;
    
*/
    background-image: url(https://images.pexels.com/photos/7070/space-desk-workspace-coworking.jpg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.m-b-10{
    margin-bottom: 10px !important;
}

.service-item-box{
    padding-top: 0px;
    padding-bottom: 500px;
}

.service-title{ 
    top:28%;
}

.service-item:hover .service-title{
    top:36%;
}

