.full-vh{
    height: 100vh;
}

.main-form{
    margin-top: 20vh;
    
    padding: 30px 60px;
    background: rgba(0,0,0,0.7);
    border-radius: 2px;
    
}

.main-form .hero-subtitle{
    line-height: 2;
    font-size: x-large;
    margin-top: 0px;
}

.hero-wrap .hero-img{
    background-image: url(https://images.pexels.com/photos/7070/space-desk-workspace-coworking.jpg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.m-b-10{
    margin-bottom: 10px !important;
}

